:root{
    --yellow: #FAE100;
    --horizontal-space: 20px; /* 스크린의 옆에 적용되는 일정한 마진 또는 패딩을 위한 요소 */
    --main-border: 1px solid rgba(0,0,0,0.2);
    --gray-font: rgba(0,0,0,0.4);
    --main-color: #2F363E;
    --drak-gray: rgba(0,0,0,0.5);
    --sub-color: rgb(230, 152, 152);
}