#friends-display-link{
    margin-bottom: 5px;
    padding: 15px 0;
    background-color: #fafafa;
    font-weight: 600;

    text-align: center;
    display: block; /* 이렇게 해줌으로써 의도한 text-align:center으로 보임 */
}
#friends-display-link i{
    color: rgba(128,128,128,0.3);
}
#friends-display-link i:last-child{
    margin-left: 10px;
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel{
    margin-top: 15px;
    padding-top: 10px;
    border-top: var(--main-border);
}
.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;
}
.friends-screen__channel-header span{
    font-size: 12px;
}
.friends-screen__channel-header i{
    transform: scale(0.8);
    color: rgba(0,0,0,0.3);
}

/* splash 화면 */
#splash-screen{
    background-color: var(--sub-color);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;

    z-index:3;

    color: rgba(255, 255, 255, 0.753);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 120px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;

    animation-delay: 1s;
    /* forwards: 마지막 속성 값은 '마지막 keyframes'으로 정해지고 애니메이션이 끝나고 유지한다. */
}
#splash-screen #splash-screen-comment{
    display: block;
    margin-top: 100px;
    font-size: 30px;
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
        /* visibility: hidden;
        마우스 클릭에 걸리지 않게 빠져버리는 속성. 브라우저가 이 element를 무시하도록 하는 기술.
        html은 아직 존재한다. 따라서 뭔가를 숨긴다거나 html을 제거하고 싶을 때 써선 안됨. 그럴 땐 javascript 사용해야 함. */
    }
}