.nav{
    position: fixed; /* 스크린 하단에 네비게이션 바 고정 */
    bottom: 0;
    width:100%;
    font-size: 12px;
}
.nav__list{
    padding: 11px 50px;
    
    background-color:#F9F9FA;
    border-top: 1px solid rgba(0,0,0,0.1);

    display: flex;
    justify-content: space-between;
    }
/* .nav__button .fa-solid, .nav__button .fa-regular{
    transform:scale(0.8);
} */
.nav__link{
        color: #2F363E; /* 링크 관련 default 값이 reset.css에 있으나 개별적으로 색깔 정해준 것 */
        position: relative; /* 자식인 .nav__notification의 position이 absolute이므로 설정해준 속성 */
    }

/* animation */
@keyframes appearBtnAnimation{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.nav__button{
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 1s ease-in-out forwards;
}
.nav__button:nth-child(1){
    animation-delay: 0;
}
.nav__button:nth-child(2){
    animation-delay: 0.1s; 
}
.nav__button:nth-child(3){
    animation-delay: 0.2s;
}
.nav__button:nth-child(4){
    animation-delay: 0.3s;
}