.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--horizontal-space);
    padding-top:50px;

    font-size: 25px;
    font-weight: 700;
}

.screen-header__icons *{
    margin-left: 10px;
}